<div class="hero-section">
    <div class="container hero-content">
        <div class="hero-header">
            <img class="hero-logo" src="static/images/pydata_large.png">
            <h1><span>:</span> Norwich</h1>
        </div>
        <p>Python and Data Science meetups in Norwich</p>
        <div class="hero-links">
            <a href="https://www.meetup.com/pydata-norwich" class="btn btn-blue">Meetup</a>
            <a href="https://www.pydata.org" class="btn btn-orange" style="margin-left: 5px;">PyData</a>
        </div>
    </div>
</div>