<nav class="navbar">
    <div class="container nav-container">
    <a href="/">
    <div class="navbar-logo">
            <img src="/static/images/pydata_large.png">
            <h2>: Norwich</h2>
    </div>
    </a>
    <div class="hamburger" onclick="showNavbar()">&#9776;</div>
    <ul class="navbar-links">
        {% for route in request.app.routes %}
            {% if route.path != '/static' %}
            <li>
                <a href="{{route.path}}" {% if route.path == request.url.path %}class="active"{% endif %}>
                {{ route.name.capitalize() }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
</nav>
